
.nav-link:hover {
    background-color: red;
    color: white !important;
}
.red-text {
    color: red;
}

    .red-text:hover {
        background-color: red;
        color: white !important;
    }

.overlay {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Estilo para el contenido debajo de la sección */
.content {
    margin-top: 50px; /* Ajusta el margen superior para que el contenido empiece debajo de la sección */
}